@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */
.body {
  background-color: rgb(83,68,73);
}
.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.img_1-1{background-image:url('./CrestedButte.png');}
.img_1-2{background-image:url('kenoshaPass.png');}
.img_1-3{background-image:url('./mosquitoPass.png');}

.img_2-1{background-image:url('rmnp.png');}
.img_2-2{background-image:url('main.png');}
.img_2-3{background-image:url('frisco.png');}

.img_3-1{background-image:url('winterPark.png');}
.img_3-2{background-image:url('indianPeaks.png');}
.img_3-3{background-image:url('steamboatSprings.png');}
